<MatTabGroup>
    <MatTab Label="Whiteboard">
        @*<div class="d-flex flex-column flex-grow-1 container-space fd-scrollbar"
        @onclick="@(async () => await SelectComponentAsync(null))"
        @onclick:stopPropagation="true">
            <Container ContainerData="ContainerData"
                       OnClickCallback="@(async (e) => await SelectContainerAsync(ContainerData))" />
        </div>*@
    </MatTab>
    
</MatTabGroup>

@code {

}
